LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<langsmith-api-key>"
LANGSMITH_PROJECT="capitalone-workshop"
OPENAI_API_KEY="<openai-api-key>"
TAVILY_API_KEY="<tavily-api-key>"
ANTHROPIC_API_KEY="<anthropic-api-key>"
